<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body ng-cloak="data.status" ng-app="app" ng-controller="appCtrl">

  <select ng-model="status.activo" ng-options="key as key for (key, value) in data"></select>
  
  <div ng-show="status.activo == 'masVotados'">
    <h1>Por años</h1>
    <div ng-repeat="(country, val) in data['masVotados'] | orderBy : val">{{ country }} - {{ val }} puntos</div>
  </div>

  <div ng-show="status.activo == 'porAños'">
    <h1>Resultados por años</h1>
    <select ng-model="status.byYear" ng-options="key as key for (key, value) in data['porAños']"></select>
    <div ng-repeat="(country, val) in data['porAños'][status.byYear]">
      <strong style="font-weight=800">{{ country }}</strong> - <span ng-show="points!=''" ng-repeat="(country2, points) in data['porAños'][status.byYear][country][0]">{{country2}}-{{points}} </span>
    </div>
  </div>
  
  <div ng-show="status.activo == 'afines'">
    <h1>Por años</h1>
    <div ng-repeat="(country, val) in data['afines'] | orderBy : val">
      <h2>{{ country }}</h2>
      <div ng-show="points['total']>0" ng-repeat="(country2, points) in val | orderBy: total">{{country2}} - {{points['total']}}pts.: 
        (<span style="font-size:0.8em" ng-show="evt != 'total'" ng-repeat="(evt, pts) in data['afines'][country][country2]">{{evt}} - {{pts}} </span>)
      </div><hr>
    </div>
  </div>
  
  <div ng-show="status.activo == 'totales'">
    <h1>Por años</h1>
    <div ng-repeat="(country, val) in data['afines'] | orderBy : val">
      {{ country }} - <span ng-show="points['total']>10" ng-repeat="(country, points) in val | orderBy: points['total']">{{country}}-{{points['total']}} </span><hr>
    </div>
  </div>

    <!--<div class="wrap">
      <div ng-repeat="(country, val) in dato">
        <h2>{{country}}</h2>
        <div ng-repeat="(country2, val2) in val">
          <div ng-repeat="(country3, val3) in val2">
            <p ng-show="val3">{{ country3 }} - {{val3}} points</p>
          </div>
        </div>
      </div>
    </div>-->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <script>
    var myApp = angular.module('app', []);

    function appCtrl($scope, $http, $timeout){

      $http({method: 'GET', url: './eurovi.json'})
        .success(function(data, status, headers, config) {

          $scope.data = proccesData(data);
          console.log($scope.data);

        })
        .error(function(data, status, headers, config) {
        });

    };

    function proccesData(data) {

      //console.log(data);

      votadores = {};
      votadoresYear = {};
      votados = {};

      angular.forEach(data, function(dataYear, year) {

        //votadoresYear[year] = {};

        angular.forEach(dataYear, function(votos, pais) {

          votados[pais] = votados[pais] ? votados[pais] : {};

          angular.forEach(votos, function(pts, key) {
            angular.forEach(pts, function(puntos, votador) {
              if(puntos){

                //votadores[votador] = votadores[votador] ? votadores[votador] + parseInt(puntos,10) : parseInt(puntos,10;

                //votadoresYear[year][pais] = votadoresYear[year][pais] ? votadoresYear[year][pais] + parseInt(puntos,10) : parseInt(puntos,10);

                votados[pais][votador] = votados[pais][votador] ? votados[pais][votador] : {};
                votados[pais][votador]['total'] = votados[pais][votador]['total'] ? votados[pais][votador]['total'] + parseInt(puntos,10) : parseInt(puntos,10);
                votados[pais][votador]['votos'] = votados[pais][votador]['votos'] ? votados[pais][votador]['votos'] : [];
                votados[pais][votador]['votos'].push({'ptos': parseInt(puntos,10), 'pais': votador });
              }
            })
          })
        });
      })

      dataProc = {};
      dataProc['porAños'] = data;
      dataProc.totales = votadoresYear;
      dataProc['masVotados'] = votadores;
      dataProc.afines = votados;

      return dataProc;
    }

/*
    myApp.controller('appCtrl', ['$scope', function($scope) {
    }]);*/
  </script>
</body>
</html>