<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body { background: #2C2C2C; color: white; }
    select { color: #333; }
    .butt.act { color: #FE2979; }

    .pink { color: #FE2979; }

    .wrapper { width: 1150px; margin: 0 auto; }
      .bl-vids-wrap { width: 1183px; overflow: hidden; }
      .temazo { float: left; width: 267px; height: 300px; overflow: hidden; margin-right: 28px; }
      .bl-vids-vid-wrap { height: 150px; overflow: hidden }
        .bl-vids-vid-wrap img { width: 100%; cursor: pointer; margin-top: -28px; }
      .bl-vids-vid-details span {font-size: 0.9em; }
  </style>
</head>
<body ng-app="app" ng-controller="appCtrl">

  <div class="bl-videos wrapper">

    <div class="bl-vids-head">
      <h2>{{ status.country }} en Eurovisión</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, perferendis vel facere repellat numquam doloribus dolores blanditiis unde sint a. Ipsum, quae, vel aut accusantium quod eveniet voluptatibus recusandae quos.</p>

      <a href="#" class="butt butt-date"
        ng-model="status2.sort" 
        ng-class="{act: status2.sort == 'year'}"
        ng-click="status2.sort = 'year'; status2.sortAsc = true">Por fecha</a>

      <a href="#" class="butt butt-date"
        ng-model="status2.sort" 
        ng-class="{act: status2.sort == 'posicion'ª"
        ng-click="status2.sort = 'posicion'; status2.sortAsc = false">Por posicion</a>

      <a href="#" class="butt butt-date"
        ng-show="status2.sort == 'posicion'"
        ng-model="status2.sortAsc" 
        ng-class="{act: status2.sortAsc == true}"
        ng-click="status2.sortAsc = true">Ascendente</a>

      <a href="#" class="butt butt-date"
        ng-show="status2.sort == 'posicion'"
        ng-model="status2.sortAsc" 
        ng-class="{act: status2.sortAsc == false}"
        ng-click="status2.sortAsc = false">Ascendente</a>

      <select ng-model="status.country" ng-options="value for value in search.countries | orderBy: countries"></select>

    </div>
    
    <div class="bl-vids-wrap">
      <div class="bl-vids-vids">
        <div ng-repeat="song in songs | filter: status | orderBy: status2.sort:status2.sortAsc" 
            data-vid="{{ song.youtube }}" class="temazo">
          <p class="bl-vids-vid-title">{{ song.year }}</p>
          <div class="bl-vids-vid-wrap" style="">
            <img src="{{ song.smallImg }}" alt="">
          </div>
          <p class="bl-vids-vid-details">{{ song.artista }} - {{ song.titulo }}<br><span class="pink">Puesto {{ song.posicion }}</span></p>
        </div>
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <script>
    var myApp = angular.module('app', []);

    function appCtrl($scope, $http, $timeout){

      $http({method: 'GET', url: './songs.json'})
        .success(function(data, status, headers, config) {

          $scope.search = preprocessData(data);
          $scope.songs = data;

          $scope.status = {country: 'Spain'};
          $scope.status2 = {sort: 'year', sortAsc : true};

        })
        .error(function(data, status, headers, config) {
        });

    };

    function preprocessData(data){

      var countries = [];
      var years = [];
      var positions = [];

      for (var i = data.length - 1; i >= 0; i--) {
        if(countries.indexOf(data[i]['country']) == -1) countries.push(data[i]['country']);
        if(years.indexOf(data[i]['year']) == -1) years.push(data[i]['year']);
        if(positions.indexOf(data[i]['posicion']) == -1) positions.push(parseInt(data[i]['posicion']));
        data[i]['posicion'] = parseInt(data[i]['posicion']);
      };

      return {countries: countries, years: years, positions: positions};
    }


    $('body').delegate('.temazo img','click',function(){
      var $this = $(this).parents('.temazo');
      var vid = $this.data('vid');
      vid = vid.split('v=')[1];
      $this.find('.bl-vids-vid-wrap').html('<iframe width="267" height="150" src="//www.youtube.com/embed/'+vid+'" frameborder="0" allowfullscreen></iframe>')
    })

  </script>
</body>
</html>